.container {
  margin: 20px auto;
  max-width: 600px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card {
  max-width: 600px;
  padding: 10px;
}

.city {
  background-color: white;
  border: 1px solid #596e79;
  border-radius: 3px;
  width: 80%;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.find {
  background-color: #ea907a;
  color: black;
  border: 1px solid #086972;
  border-radius: 3px;
  float: right;
  width: 19%;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  transition: all 200ms ease-in-out;
}

.find:hover {
  background-color: #086972;
  border: 1px solid #086972;
  color: white;
}

h1 {
  padding-top: 10px;
}

img {
  padding-top: 20px;
  display: block;
  width: 200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: 0.8rem;
  margin-bottom: 0rem;
}

li {
  margin-bottom: 0rem;
}

.description {
  text-transform: capitalize;
}

.temp {
  font-size: 1.2rem;
}

.weather-temp .active {
  color: black;
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

ul li span a {
  color: #086972;
}

.forecast {
  padding-top: 15px;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

.col-2 p {
  margin-bottom: 0;
}

.forecast h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.forecast img {
  display: block;
  margin: 0 auto;
  width: 48px;
}

.forecast-temp {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  padding-top: 15px;
}
